

article {
  max-width: 78%;
  margin: 0 auto;
  padding: 3rem 0;
  
  .page-wrapper {
    
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
}



body {
  
  background-color: #fff5d7;
  //background-color: #ffffF0;
  background-image: url("/assets/img/texture.png");
  -webkit-transition: background-color 2s ease-in;
  //background-image: url("/assets/img/c9.png");
  padding: 0 2rem;
  
}


div.page {
  margin: 2rem auto;
  width: 80%;
  //background-image: url("/assets/img/texture.png");
  //background-color: #ffffF0;
  //-webkit-transition: background-color 2s ease-in;
  //border: 0.1rem thick #e0dfcc; 

}


h1 {
  color: #222222;
  a {
  	color: #222222;
  }
  a:hover{
    color: #007bff;	
    text-decoration-line: underline;
    
  }
}


header.site {
   h2 {
     font-size: 1.5rem;
   }
}




.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}


#site-title {
  margin: 0 6%;
  h1 {
    padding-top: 1em;
    margin: 0 270px 0 0;
  }
  h2 {
    margin: 0 2em 1em 0;
  }
}



.post-list {
  float: left;
}



footer.site {  
  border-top: 0.1rem solid #e0dfcc;
  padding: 1rem 0;
  margin: 1rem 0 0 0;
  overflow: hidden;
  
}


.float_wrapper{
  
  overflow: hidden; 
  
  div {
    margin-top: 1.5rem;
    margin-left: 6%;
  }
}




ul {
  list-style-type: none; 
}


li.box {

 
}



div.highlight {
  padding: 1em;
  border: 0.2em solid #e0dfcc;
  border-radius: 1em;
  background-color: #fffff5;
  
  pre {
  	background-color: #fffff5;
  }
  
  
}


.supplementary {
  float: left;
  margin: 0 0 0 8%;
}


.contact {
  float: right;
  margin: 0 8% 0 0;
  
}



.side {
  float: left;
}